{% extends "base.html" %} {% block extracss %}
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
/>
{% endblock extracss %} {% block body %}
<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div
      id="reportrange"
      style="
        background: #fff;
        cursor: pointer;
        padding: 5px 10px;
        border: 1px solid #ccc;
        width: 100%;
      "
    >
      <i class="fa fa-calendar"></i>&nbsp; <span></span>
      <i class="fa fa-caret-down"></i>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h4>Current week ({{products_week.current_week_start|date:"Y-m-d"}} to {{products_week.current_week_end|date:"Y-m-d"}} )</h4>
    <canvas
      class="my-4 w-100"
      id="myChart"
      style="
        display: block;
        box-sizing: border-box;
        height: 339px;
        width: 804px;
      "
    ></canvas>
  </div>
  <div class="col-sm-6">
    <h4>Current dates selected</h4>
    <canvas
      class="my-4 w-100"
      id="myChart2"
      style="
        display: block;
        box-sizing: border-box;
        height: 339px;
        width: 804px;
      "
    ></canvas>
  </div>
</div>

<h2>Tickets: (Total: {{total_tickets_month}} €)</h2>
<div class="row">
  {% for ticket in tickets_month %}
  <div class="card col-sm-12 col-md-6 col-xl-4">
    <div class="card-body">
      <h5 class="card-title">{{ticket.total}} €</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{ticket.paid_at}}</h6>
      <ul class="list-group list-group-flush">
        {% for product in ticket.products %}
        <li class="list-group-item">
          {{product.quantity}} {{product.name}} - {{product.total_price}} €
        </li>
        {% endfor %}
      </ul>
      <div class="card-body">
        <a
          href="#"
          data-bs-toggle="modal"
          data-bs-target="#ticket-{{ticket.id}}"
          class="card-link"
          >See ticket</a
        >
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="ticket-{{ticket.id}}"
    tabindex="-1"
    aria-labelledby="modalticket-{{ticket.id}}"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalticket-{{ticket.id}}">
            PDF Ticket
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <embed
            id="embedded_pdf"
            src="data:application/pdf;base64,{{ ticket.pdf }}"
            type="application/pdf"
            width="480"
            height="500"
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
</div>
{% endblock body %} {% block extrajs %}
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
></script>

<script type="text/javascript">
  const ctx = document.getElementById('myChart')
  // eslint-disable-next-line no-unused-vars
  new Chart(ctx, {
    type: 'line',
    data: {
      labels: {{products_week.weekdays|safe}},
      datasets: [{
        data: {{products_week.products}},
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 4,
        pointBackgroundColor: '#007bff'
      }]
    },
    options: {
      plugins: {
        legend: {
          display: false
        },
        tooltip: {
          boxPadding: 3
        }
      }
    }
  })
</script>

<script type="text/javascript">
  const ctx2 = document.getElementById('myChart2');
  new Chart(ctx2, {
    type: 'line',
    data: {
      labels: {{products_month.days|safe}},
      datasets: [{
        data: {{products_month.products}},
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 4,
        pointBackgroundColor: '#007bff'
      }]
    },
    options: {
      plugins: {
        legend: {
          display: false
        },
        tooltip: {
          boxPadding: 3
        }
      }
    }
  })
</script>

<script type="text/javascript">
  $(function () {
    var start = moment().subtract(29, "days");
    var end = moment();

    function cb(start, end) {
      $("#reportrange span").html(
        start.format("MMMM D, YYYY") + " - " + end.format("MMMM D, YYYY")
      );
    }

    $("#reportrange").daterangepicker(
      {
        startDate: start,
        endDate: end,
        ranges: {
          Today: [moment(), moment()],
          Yesterday: [
            moment().subtract(1, "days"),
            moment().subtract(1, "days"),
          ],
          "Last 7 Days": [moment().subtract(6, "days"), moment()],
          "Last 30 Days": [moment().subtract(29, "days"), moment()],
          "This Month": [moment().startOf("month"), moment().endOf("month")],
          "Last Month": [
            moment().subtract(1, "month").startOf("month"),
            moment().subtract(1, "month").endOf("month"),
          ],
        },
      },
      cb
    ).on('apply.daterangepicker', function(ev, picker) {
        window.location.href = "{% url 'dashboards__home' %}?start_date=" +picker.startDate.format('YYYY-MM-DD') + "&end_date=" + picker.endDate.format('YYYY-MM-DD');
    });

    cb(start, end);
  });
</script>
{% endblock extrajs %}
