{% extends "base.html" %} {% block body %}
<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">
        Share
      </button>
      <button type="button" class="btn btn-sm btn-outline-secondary">
        Export
      </button>
    </div>
    <button
      type="button"
      class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1"
    >
      <svg class="bi"><use xlink:href="#calendar3"></use></svg>
      This week
    </button>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h4>Current week</h4>
    <canvas
      class="my-4 w-100"
      id="myChart"
      style="
        display: block;
        box-sizing: border-box;
        height: 339px;
        width: 804px;
      "
    ></canvas>
  </div>
  <div class="col-sm-6">
    <h4>Current month</h4>
    <canvas
      class="my-4 w-100"
      id="myChart2"
      style="
        display: block;
        box-sizing: border-box;
        height: 339px;
        width: 804px;
      "
    ></canvas>
  </div>
</div>

<h2>Tickets</h2>
{% for ticket in tickets_month%}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ticket.total}} €</h5>
      <p class="card-text">{{ticket.paid_at}}</p>
    </div>
    <ul class="list-group list-group-flush">
        {% for product in ticket.products %}
            <li class="list-group-item">
                {{product.quantity}} {{product.name}} - {{product.total_price}}
            </li>
        {% endfor %}
    </ul>
    <div class="card-body">
      <a href="#" data-bs-toggle="modal" data-bs-target="#ticket-{{ticket.id}}" class="card-link">See ticket</a>
    </div>
  </div>

  <div class="modal fade" id="ticket-{{ticket.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <embed id="embedded_pdf" src="data:application/pdf;base64,{{ ticket.pdf }}" type="application/pdf" width="480" height="500">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock body %}

{% block extrajs %}
<script type="text/javascript">
    const ctx = document.getElementById('myChart')
    // eslint-disable-next-line no-unused-vars
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: {{products_week.weekdays|safe}},
        datasets: [{
          data: {{products_week.products}},
          lineTension: 0,
          backgroundColor: 'transparent',
          borderColor: '#007bff',
          borderWidth: 4,
          pointBackgroundColor: '#007bff'
        }]
      },
      options: {
        plugins: {
          legend: {
            display: false
          },
          tooltip: {
            boxPadding: 3
          }
        }
      }
    })
</script>

<script type="text/javascript">
    const ctx2 = document.getElementById('myChart2');
    new Chart(ctx2, {
      type: 'line',
      data: {
        labels: {{products_month.days|safe}},
        datasets: [{
          data: {{products_month.products}},
          lineTension: 0,
          backgroundColor: 'transparent',
          borderColor: '#007bff',
          borderWidth: 4,
          pointBackgroundColor: '#007bff'
        }]
      },
      options: {
        plugins: {
          legend: {
            display: false
          },
          tooltip: {
            boxPadding: 3
          }
        }
      }
    })
</script>
{% endblock extrajs %}