{% extends "base.html" %} {% block body %}
<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">
        Share
      </button>
      <button type="button" class="btn btn-sm btn-outline-secondary">
        Export
      </button>
    </div>
    <button
      type="button"
      class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1"
    >
      <svg class="bi"><use xlink:href="#calendar3"></use></svg>
      This week
    </button>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h4>Current week</h4>
    <canvas
      class="my-4 w-100"
      id="myChart"
      style="
        display: block;
        box-sizing: border-box;
        height: 339px;
        width: 804px;
      "
    ></canvas>
  </div>
  <div class="col-sm-6">
    <h4>Current month</h4>
    <canvas
      class="my-4 w-100"
      id="myChart2"
      style="
        display: block;
        box-sizing: border-box;
        height: 339px;
        width: 804px;
      "
    ></canvas>
  </div>
</div>

<h2>Tickets</h2>
<div class="table-responsive small"></div>
{% endblock body %}

{% block extrajs %}
<script id="products-week-data" type="application/json">
    {{ products_week|json_script:"products_week_data" }}
</script>
<script type="text/javascript">
    const ctx = document.getElementById('myChart')
    // eslint-disable-next-line no-unused-vars
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: {{products_week.weekdays|safe}},
        datasets: [{
          data: {{products_week.products}},
          lineTension: 0,
          backgroundColor: 'transparent',
          borderColor: '#007bff',
          borderWidth: 4,
          pointBackgroundColor: '#007bff'
        }]
      },
      options: {
        plugins: {
          legend: {
            display: false
          },
          tooltip: {
            boxPadding: 3
          }
        }
      }
    })
</script>
{% endblock extrajs %}